spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: jdbc:mariadb://${MARIA_HOST:localhost}:${MARIA_PORT:3306}/goNyangProject?allowPublicKeyRetrieval=true&useSSL=false
    username: root
    password: WB12345!@
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        show_sql: true
        format_sql: true
logging:
  level:
    org.hibernate.SQL: debug